@use "sass:color";

.Radio {
  opacity: 0;
  position: absolute;
}

.Radio__Label {
  cursor: pointer;
  font-size: 14px;
  padding-left: 24px;
  position: relative;

  &::before {
    border: 1px solid $color-grey;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }

  &:hover {
    &::before {
      border: 1px solid $color-red;
    }
  }

  &_checked {
    &::after {
      animation:
        slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      background-color: $color-red;
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
  }

  &_checked:hover {
    &::after {
      background-color: color.adjust($color-red, $green: -29);
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
  }

  &_disabled {
    cursor: initial;
    opacity: 0.3;
  }

  &_disabled:hover {
    &::before {
      border: 1px solid $color-grey;
    }
  }
}

@keyframes slide-in-fwd-center {
  0% {
    opacity: 0;
    transform: translateZ(-1400 px) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) translateY(-50%);
  }
}
