@use "sass:color";

$primary-bg-color: $color-white;
$primary-b-color: #e6e6e6;

$secondary-bg-color: #e5e5e5;
$secondary-b-color: #cdcdcd;
$secondary-active-bg-color: #d5d5d5;

.Tabs {
  display: flex;
}
