@use "sass:color";

$primary-bg-color: $color-white;
$primary-b-color: #e6e6e6;

$secondary-bg-color: #e5e5e5;
$secondary-b-color: #cdcdcd;
$secondary-active-bg-color: #d5d5d5;

.Tabs {
  display: flex;

  &_disabled {
    cursor: initial;
    opacity: 0.3;

    .Tab:hover {
      background-color: $color-white;
      border: 1px solid $primary-b-color;
      color: initial;
      cursor: initial;
    }

    .Tab_active:hover {
      background-color: $color-red;
      border: 1px solid $color-red;
      color: $color-white;
    }
  }

  &_appearance_secondary {
    .Tab {
      background-color: $secondary-bg-color;
      border-color: $primary-b-color;
    }

    .Tab_active {
      background-color: $color-red;
      border-color: $color-red;
    }

    .Tab:hover {
      border-color: $secondary-active-bg-color;
      color: initial;
    }

    .Tab_active:hover {
      background-color: $secondary-active-bg-color;
      border-color: $secondary-active-bg-color;
    }
  }

  &_disabled.Tabs_appearance_secondary {
    .Tab:hover {
      background-color: $secondary-bg-color;
      border-color: $primary-b-color;
      color: initial;
    }

    .Tab_active:hover {
      background-color: $color-red;
      border-color: $color-red;
      color: $color-white;
    }
  }
}

.Tab {
  background-color: $color-white;
  border: 1px solid $primary-b-color;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-left: -1px;
  padding: 10px 15px;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
  }

  &:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:hover {
    border: 1px solid $color-red;
    z-index: 1;
  }

  &_active {
    background-color: $color-red;
    border: 1px solid $color-red;
    color: $color-white;
    z-index: 2;
  }

  &_active:hover {
    background-color: color.adjust($color-red, $green: -29);
    border: 1px solid color.adjust($color-red, $green: -29);
    color: $color-white;
  }
}

.Tab__radio {
  display: none;
}
