@use "sass:color";

.Button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
}

.Button_appearance_outline {
  background-color: $color-white;
  border-color: $color-grey;
  color: $color-black;

  &:hover {
    border-color: color.scale($color-grey, $lightness: -10%);
  }
}

.Button_appearance_primary {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: color.scale($color-primary, $lightness: -10%);
    border-color: color.scale($color-primary, $lightness: -10%);
  }
}
